[Unit]
Description=SSHFS mount {{ item.remote_user }}@{{ item.remote_host }}:{{ item.remote_path }}
After=network-online.target tailscaled.service
Wants=network-online.target

[Mount]
What={{ item.remote_user }}@{{ item.remote_host }}:{{ item.remote_path }}
Where={{ item.local_path }}
Type=fuse.sshfs
Options=reconnect,ServerAliveInterval=15,ServerAliveCountMax=3,allow_other,IdentityFile={{ item.ssh_key }},uid={{ item.uid }},gid={{ item.gid }},StrictHostKeyChecking=accept-new,_netdev

[Install]
WantedBy=multi-user.target
